<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submit" method="post">
        <label for="name">Name</label>
       <input type="text" name="name" placeholder="Enter your name">
       <br>
       <br>
       <label for="January">January</label>
       <input type="text" name="January">
       <br><br>
       <label for="February">February</label>
       <input type="text" name="February">
       <br><br>
       <label for="March">March</label>
       <input type="text" name="March">
       <br> <br>
       <label for="April">April</label>
       <input type="text" name="April">
       <br> <br>
       <label for="May">May</label>
       <input type="text" name="May">
       <br> <br>
       <label for="June">June</label>
       <input type="text" name="June">
       <br> <br>
       <label for="July">July</label>
       <input type="text" name="July">
       <br> <br>
       <label for="August">August</label>
       <input type="text" name="August">
       <br> <br>
       <label for="September">September</label>
       <input type="text" name="September">
       <br> <br> 
       <label for="October">October</label>
       <input type="text" name="October">
       <br> <br>
       <label for="November">November</label>
       <input type="text" name="November">
       <br> <br>
       <label for="December">December</label>
       <input type="text" name="December">
       <br> <br>
       <label for="Location">Location</label>
       <input type="text" name="Location">
       <br> <br>
       <label for="City">City</label>
       <input type="text" name="City">
       <br> <br>
       <button>Submit</button>
    </form>
</body>
</html>