<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electricity Consumption</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        body{
            background-color: #15172b;
        }
    </style>
</head>
<body>

  
    <p style="font-size: 18px; color: #15172b; text-align: center; color: white;">
        <%=text%>
    </p>

    <!-- Keep the space for readability kkk-->

    <div id="myChart" style="width: 100%; max-width: 800px; height: 500px; margin: 0 auto;"></div>
    <!-- Adjusted width, added margin for centering -->

    <script>
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function decodeEntities(encodedString) {
            var textArea = document.createElement('textarea');
            textArea.innerHTML = encodedString;
            return textArea.value;
        }

        var encodedJSON = '<%= JSON.stringify(obj) %>';
        var decodedJSON = decodeEntities(encodedJSON);
        var obj = JSON.parse(decodedJSON);

        function drawChart() {
            const data = google.visualization.arrayToDataTable([
                ['Months', 'Kwh'],
                ['January', parseInt(obj.January)],
                ['February', parseInt(obj.February)],
                ['March', parseInt(obj.March)],
                ['April', parseInt(obj.April)],
                ['May', parseInt(obj.May)],
                ['June', parseInt(obj.June)],
                ['July', parseInt(obj.July)],
                ['August', parseInt(obj.August)],
                ['September', parseInt(obj.September)],
                ['October', parseInt(obj.October)],
                ['November', parseInt(obj.November)],
                ['December', parseInt(obj.December)]
            ]);

            const options = {
                title: 'Electricity Consumption',
                colors: ['#4285F4'], // Customize colors
                legend: { position: 'none' }, // Hide legend
                chartArea: { width: '80%', height: '70%' }, // Adjust chart area size
                hAxis: { title: 'Kwh', titleTextStyle: { color: '#333' } }, // Customize horizontal axis
                vAxis: { title: 'months', titleTextStyle: { color: '#333' } }, // Customize vertical axis
                animation: { duration: 1000, easing: 'out' } // Add animation
            };

            const chart = new google.visualization.BarChart(document.getElementById('myChart'));
            chart.draw(data, options);
        }
    </script>
</body>
</html>