<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <p>
        <%=text%>
    </p>

    <p>

    </p>
    <div id="myChart" style="width:100%; max-width:600px; height:500px;"></div>
    <script>

function decodeEntities(encodedString) {
            var textArea = document.createElement('textarea');
            textArea.innerHTML = encodedString;
            return textArea.value;
        }

        var encodedJSON = '<%= JSON.stringify(obj) %>';
        var decodedJSON = decodeEntities(encodedJSON);
        var obj = JSON.parse(decodedJSON);
        console.log(obj);
      // const objdata = JSON.parse('<%= JSON.stringify(obj) %>');
      // console.log(objdata);
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            const data = google.visualization.arrayToDataTable([
                ['Months', 'Kwh'],
                ['January', parseInt(obj.January)],
                ['February', parseInt(obj.February)],
                ['March', parseInt(obj.March)],
                ['April', parseInt(obj.April)],
                ['May', parseInt(obj.May)],
                ['June', parseInt(obj.June)],
                ['July', parseInt(obj.July)],
                ['August', parseInt(obj.August)],
                ['September', parseInt(obj.September)],
                ['October', parseInt(obj.October)],
                ['November', parseInt(obj.November)],
                ['December', parseInt(obj.December)]
            ]);

            const options = {
                title: 'Electricity Consumption'
            };

            const chart = new google.visualization.BarChart(document.getElementById('myChart'));
            chart.draw(data, options);
        }
    </script>
</body>
</html>
