<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Total number of panels required are: <%=numberofpanels%> </h1>
    <h1>Capacity of each solar panel should be: <%=requiredenergypersolarpanel%> </h1>
    <h1>Total cost of installation of solar panels would be : <%=totalcost%> </h1>
</body>
</html>